body {
    margin: 10px;
    font-family: 'Times New Roman', serif;
    font-size: large;
    font-weight: 300;

}

table {
    width: 100%; 
    border-collapse:separate; 
    margin-top: 20px; 
}

th, td {
    border: 1px solid #ddd;
    padding: 10px; 
    text-align: left;
}

th {
    background-color: #4CAF50; 
    color: white; 
    font-weight: bold; 
}


tr:hover {
    background-color: #ddd; 
}

.content{
    margin-top: 20px;
}


